---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>

        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <a class="disqus-comment-count" href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-url="{{ post.url | prepend: site.baseurl }}"> Comments</a>

      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="pagination-button fixed-width">Previous</a>
    {% endif %}
    
    {% for count in (1..paginator.total_pages) %}
      {% if count == 1 %}
        {% if count == paginator.page %}
          <a href="/" class="pagination-button active">{{ count }}</a>
        {% else %}
          <a href="/" class="pagination-button">{{ count }}</a>
        {% endif %}
      {% else %}
        {% if count == paginator.page %}
          <a href="#" class="pagination-button active">{{ count }}</a>
        {% else %}
          <a href="/posts/page{{ count }}" class="pagination-button">{{ count }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}  
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="pagination-button fixed-width">Next</a>
    {% endif %}
  </div>
  
</div>

<script type="text/javascript">
    var disqus_shortname = 'lucasfcosta';
    
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>