<nav class="navbar">
    <div class="header-left">
        <a class="navItem" href="mailto:{{ site.email }}">Email</a>
        <a class="navItem" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
        <a class="navItem" href="https://github.com/{{ site.github_username }}">Github</a>
    </div>
    <div class="header-center">
        <h1 class="title">
            <a class="title-link" href="{{ site.url }}">
                Lucas F. Costa
                <span class="subtitle">{{ site.subtitle }}</span>
            </a>
        </h1>
    </div>
    <div class="header-right">
        <a class="navItem" href="{{ site.url }}">Blog</a>
        <a class="navItem" href="/talks">Talks</a>
        <a class="navItem" href="/about">About Me</a>
    </div>

    <span id="menu-toggle" class="menu-toggle navItem">MENU</span>
    <div id="menu-drawer" class="menu-drawer menu-drawer-hidden">
        <div class="drawer-header">
            <h1 class="title">
                <a class="title-link" href="{{ site.url }}">
                    Lucas F. Costa
                    <span class="subtitle">{{ site.subtitle }}</span>
                </a>
            </h1>
            <span id="menu-close" class="menu-close-button">
                <i class="fas fa-times fa-2x"></i>
            </span>

        </div>

        <div class="drawer-menu-items">
            <a class="drawer-item" href="{{ site.url }}">Blog</a>
            <a class="drawer-item" href="/talks">Talks</a>
            <a class="drawer-item" href="/about">About Me</a>
            <a class="drawer-item" href="mailto:{{ site.email }}">Email</a>
            <a class="drawer-item" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
            <a class="drawer-item" href="https://github.com/{{ site.github_username }}">Github</a>
        </div>
    </div>
</nav>
