.about {
    .profile-picture {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 92px auto auto 0;
        height: 256px;
        width: 256px;
        border-radius: 50%;
    }

    .greeting-text {
        text-align: center;
        margin: 48px 0 0 0;
        font-size: $greeting-font-size;
        font-family: $post-title-font-family;
        font-style: italic;
    }

    .profile-content {
        max-width: 50em;
        margin: 0 auto;
        padding: 48px 10% 72px 10%;
        text-align: justify;
        font-family: $base-font-family;
        font-size: $text-font-size;
        line-height: 29px;
        opacity: 0.8;

        a {
            color: #000;
            text-decoration: none;
            border-bottom: 4px solid #E4DDDE;

            &:hover {
                color: #888;
                border-bottom: 4px solid #EEE7E8;
            }
        }
    }

    @include media-query($on-phone) {
        .profile-picture {
            margin: 64px auto auto 0;
        }

        .profile-content {
            padding: 24px 0 48px 0;
        }

        .greeting-text {
            font-size: $greeting-font-size-mobile;
        }
    }

    @include media-query($on-small-phone) {
        .greeting-text {
            font-size: $greeting-font-size-small;
            margin: 24px 0 0 0;
        }
    }
}
