.disclaimer {
        text-align: center;
        margin: 48px 0 0 0;
        font-style: bold;

    h1, h2 {
        font-family: $post-title-font-family;
    }

    .disclaimer-callout {
        margin: 20px 0 20px;
        padding: 24px 24px;
        border: 1px solid #E4DDDE;
        font-size: $text-font-size;
        font-family: $base-font-family;
        background-color: rgba(228,221,222,0.29);
        text-align: left;

        a {
            color: #000;
            text-decoration: none;
            border-bottom: 2px solid #E4DDDE;

            &:hover {
                color: #888;
                border-bottom: 2px solid #EEE7E8;
            }
        }

        p {
            font-style: italic;
            opacity: 0.8;
            margin: 0;
        }

        p:not(:first-child) {
            margin-top: 1em;
        }
    }
}
