.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    width: 100%;
}

.title {
    font-family: $title-font-family;
    font-size: $title-font-size;
    line-height: 33px;
    padding: 0 24px;
    font-weight: bold;
    margin: 0;
    opacity: 0.94;
}

.title-link {
    color: #000;
    text-decoration: none;
}

.subtitle {
    display: block;
    font-family: $subtitle-font-family;
    font-size: $subtitle-font-size;
    font-weight: normal;
    font-style: italic;
    margin-top: 4px;
    line-height: 12px;
    opacity: 0.7;
}

.header-center {
    flex: 2;
}

.header-right, .header-left {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.navItem {
    font-family: $menu-item-font-family;
    font-size: $menu-item-font-size;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.8;
    color: #000;
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

.menu-drawer {
    position: fixed;
    padding: 28px 5% 28px 5%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #E4DDDE;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform .7s;
}

.menu-drawer-hidden {
    transform: translateX(-100%);
}

.drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawer-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 72px;
    align-items: center;
}

.drawer-item {
    text-decoration: none;
    color: #000;
    opacity: 0.8;
    font-size: $drawer-item-font-size;
    font-family: $menu-item-font-family;
    font-style: italic;
    margin-bottom: 36px;
    line-height: 41px;
    padding: 0 8px;
}

.menu-close-button {
    margin-right: 12px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
}

.copyleft {
    font-family: $copyleft-font-family;
    font-size: $footer-font-size;
    line-height: 16px;
    opacity: 0.6;
    font-style: italic;
}

@include media-query($on-tablet) {
    .navbar {
        justify-content: space-between;
    }

    .menu-toggle {
        display: inline-block;
        font-size: $menu-item-font-size-tablet;
        padding: 0 12px;
    }

    .header-center {
        flex: none;
        justify-content: left;
    }

    .title {
        padding: 0;
    }

    .header-right, .header-left {
        display: none;
    }

    .drawer-menu-items {
        margin-top: 128px;
    }

    .drawer-item {
        font-size: $drawer-item-font-size-tablet;
        line-height: 64px;
        margin-bottom: 48px;
    }
}

@include media-query($on-phone) {
    .navbar {
        justify-content: space-between;
    }

    .menu-toggle {
        display: inline-block;
        padding: 0 12px;
    }

    .title {
        font-size: $title-font-size-mobile;
    }

    .subtitle {
        font-size: $subtitle-font-size-mobile;
        margin-top: 0px;
    }

    .header-center {
        flex: none;
        justify-content: left;
    }

    .title {
        padding: 0;
    }

    .header-right, .header-left {
        display: none;
    }

    .copyleft > * {
        display: block;
        text-align: center;
    }
}

@include media-query($on-phone) {
    .menu-toggle {
        font-size: $menu-item-font-size-mobile;
    }

    .drawer-menu-items {
        margin-top: 40px;
    }

    .drawer-item {
        font-size: $drawer-item-font-size-small;
        line-height: 32px;
        margin-bottom: 24px;
    }
}

.page-lead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px;
    padding: 32px 32px;
    border-top:1px solid #E4DDDE;
    border-bottom:1px solid #E4DDDE;
    font-family: $base-font-family;

    a {
        color: #000;
        text-decoration: none;
        border-bottom: 2px solid #E4DDDE;

        &:hover {
            color: #888;
            border-bottom: 2px solid #EEE7E8;
        }
    }

    p {
        font-style: italic;
        opacity: 0.8;
        margin: 0;
    }
}

@include media-query($on-phone) {
    .page-lead {
        padding: 16px 8px;
    }
}
