.blog {
    margin-top: 88px;
}

.post-list {
    padding: 0;

    li {
       list-style-type: none;
    }

    .post-item {
        margin-bottom: 48px;
    }

    .post-date {
        font-family: $base-font-family;
        font-size: $metadata-font-size;
        opacity: 0.8;
        line-height: 14px;
        margin: 0;
    }

    .post-title {
        margin: 6px 0;
        opacity: 0.9;
        line-height: 41px;
        font-family: $post-title-font-family;
        font-size: $post-title-font-size;
        font-style: italic;
        font-width: bold;
    }

    .post-link {
        margin: 0;
        color: #000;
        text-decoration: none;
    }

    .post-author {
        font-family: $base-font-family;
        font-size: $metadata-font-size;
        line-height: 14px;
        font-style: italic;
        opacity: 0.5;
        border-bottom: 4px solid #E4DDDE;
    }

    .post-flag {
        margin: 0 4px;
        opacity: 1;
        vertical-align: middle;
    }

    @include media-query($on-tablet) {
        .post-list {
            padding: 0;
        }
    }


    @include media-query($on-phone) {
        .blog {
            margin-top: 72px;
        }

        .post-title {
            font-size: $post-title-font-size-mobile;
            line-height: 27px;
        }
    }

    @include media-query($on-small-phone) {
        .post-author, .post-flag {
            font-size: $metadata-font-size-small;
        }
    }
}
