.post {
    padding: 132px 0 72px 0;
    width: 50em;
    margin: 0 auto;

    .post-headline {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .post-title {
        margin: 6px 0;
        opacity: 0.9;
        line-height: 41px;
        font-family: $post-title-font-family;
        font-size: $post-title-font-size;
        font-style: italic;
        font-width: bold;
    }

    .post-meta {
        margin-top: 16px;
    }

    .post-flag {
        border-bottom: 0px;
        margin: 0 4px;
        opacity: 1;
        vertical-align: middle;
    }

    .post-date, .post-separator, .post-author,  {
        font-family: $base-font-family;
        font-size: $metadata-font-size;
        border-bottom: 1px solid rgba(0, 0, 0, .6);
        font-style: italic;
        line-height: 14px;
        opacity: 0.6;
    }

    .post-separator {
        padding: 0 4px;
    }

    .post-content {
        overflow-wrap: break-word;
        word-wrap: break-word;
        margin: 72px auto 0 auto;
    }

    .share-buttons {
        display: flex;
        font-size: 8px;
        align-items: center;
        justify-content: flex-end;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #E4DDDE;
            margin: 0 0 0 8px;
            height: 24px;
            width: 24px;
            border: 2px solid #E4DDDE;
            border-radius: 2px;

            &:hover {
                color: #EEE7E8;
                border-color: #EEE7E8;
            }
        }
    }

    .post-content {
        font-family: $base-font-family;
        font-size: $text-font-size;
        line-height: 29px;
        color: rgba(0, 0, 0, 0.8);

        a {
            color: #000;
            text-decoration: none;
            border-bottom: 4px solid #E4DDDE;

            &:hover {
                color: #888;
                border-bottom: 4px solid #EEE7E8;
            }
        }

        p > code {
            background-color: rgba(218, 218, 218, 0.3);
            padding: 2px 4px;
            border-radius: 3px;
        }
    }

    img {
        max-width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 32px 0;
    }

    div.highlight {
        background-color: rgba(218, 218, 218, 0.3);
        padding: 12px 24px;
        overflow-x: scroll;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-post {
        margin: 36px 0;
    }

    .video iframe, .video object, .video embed {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    blockquote {
        margin: 0.2em auto;
        padding: 0.2em 1em;
        border-left: 5px solid #999;
        font-style: italic;

        &:before {
            display: none;
        }

        &:not(:first-of-type) {
            margin-top: .5em;
        }

        p:first-of-type {
            color: #555;
            font-size: 12pt;
            line-height: 1.4;
            margin: 0;
        }
    }

    table {
      margin: 1em auto;
      display: block;
      overflow: scroll;
    }

    td, th {
      padding: 1em 2em;
    }

    td {
      text-align: center;
    }

    @include media-query($on-phone) {
        .post-content {
            margin-top: 36px;
        }

        .post-text {
            font-size: $greeting-font-size-mobile;
            margin: 36px 0 0 0;
        }

        .post-separator {
            display: table-column;
        }

        .post-date, .post-author {
            margin-top: 8px;
            display: inline-table;
        }

        .post-headline {
            flex-direction: column;

            .share-buttons {
                width: 100%;
                margin-top: 32px;
                justify-content: center;
            }
        }

        div.highlight {
            font-size: 14px;
        }
    }

    .post-callout {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 20px;
        padding: 24px 24px;
        border: 1px solid #E4DDDE;
        font-family: $base-font-family;
        background-color: rgba(228,221,222,0.29);

        a {
            color: #000;
            text-decoration: none;
            border-bottom: 2px solid #E4DDDE;

            &:hover {
                color: #888;
                border-bottom: 2px solid #EEE7E8;
            }
        }

        p {
            font-style: italic;
            opacity: 0.8;
            margin: 0;
        }
    }
}

@include media-query($on-phone) {
    .post {
        padding: 64px 0 72px 0;
        width: auto;
    }
}
