blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 1.5em 0;
    padding: 0.25em 20;
    line-height: 1.45;
    color: #383838;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}
