---
layout: default
---
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-headline">
        <span class="post-meta">
            <span class="post-date">
                {% assign d = page.date | date: "%-d" %}
                {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
                of
                {{ page.date | date: "%B" }},
                {{ page.date | date: "%Y" }}
            </span>
            <span class="post-separator"> — </span>
            <span class="post-author">
                {{ page.author }} at {{ page.place }}
            </span>
            <span class="post-flag">{{ page.flag }}</span>
        </span>

        <span class="share-buttons">
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ site.url }}&source={{ site.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin-in fa-2x"></i></a>
            <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fab fa-reddit-alien fa-2x"></i></a>
        </span>
    </div>

    <article class="post-content">
        {{ content }}
    </article>
</div>
