---
layout: default
---
<div class="post">

  <header class="post-header">
    
    <span class="title-line">
      <h1 class="post-title">{{ page.title }}</h1>
    </span>

    <div class="post-lead">
      <div class="post-meta">
        {{ page.event }} • {{ page.date | date: "%b %-d, %Y" }}
      </div>

      <span class="share-buttons">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ site.url }}&source={{ site.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
        <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-reddit-square fa-2x"></i></a>
      </span>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<div class="comments">
  <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'lucasfcosta';
    
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

        (function () {
        	var s = document.createElement('script'); s.async = true;
        	s.type = 'text/javascript';
        	s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        	(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    	}());

    	if (window.innerWidth <= 768) {
    		var postMeta = document.querySelector('.post-meta');
    		var shareButtons = document.querySelector('.share-buttons');
    		var header = document.querySelector('.title-line');

    		header.insertBefore(postMeta, shareButtons);
    	}
    </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
